In [1]:
import pandas as pd

In [23]:
X = pd.read_csv("/home/khaymonenko/trees-and-ensembles/data/competition/train.csv", index_col="Id")
X

,does-bruise-or-bleed,habitat,season,cap-diameter,stem-height,stem-width,class
Id,,,,,,,
50051,t,d,u,8.94,7.91,24.55,1
19596,f,m,a,2.92,3.59,6.59,1
3645,f,m,a,4.11,4.78,3.56,1
39079,f,d,a,3.24,4.65,4.53,1
2245,f,d,u,8.48,13.72,14.60,1
...,...,...,...,...,...,...,...
30503,t,d,a,8.23,5.97,17.13,0
8328,f,d,a,3.37,6.86,3.75,1
10273,f,d,s,3.28,4.29,2.64,0
55086,f,l,a,6.70,7.67,50.19,0
58892,f,d,a,21.51,4.99,37.01,1

In [25]:
cat_columns = ["does-bruise-or-bleed", "habitat", "season"]
mappings = {}

for feature in cat_columns:
    mappings[feature] = {value: idx for idx, value in enumerate(X[feature].unique())}
    X[feature] = X[feature].map(mappings[feature])

X.to_numpy()

array([[ 0.  ,  0.  ,  0.  , ...,  7.91, 24.55,  1.  ],
       [ 1.  ,  1.  ,  1.  , ...,  3.59,  6.59,  1.  ],
       [ 1.  ,  1.  ,  1.  , ...,  4.78,  3.56,  1.  ],
       ...,
       [ 1.  ,  0.  ,  2.  , ...,  4.29,  2.64,  0.  ],
       [ 1.  ,  4.  ,  1.  , ...,  7.67, 50.19,  0.  ],
       [ 1.  ,  0.  ,  1.  , ...,  4.99, 37.01,  1.  ]])

AttributeError: 'DataFrame' object has no attribute 'map'

In [12]:
X['habitat'].map(mappings['habitat'])

0       0
1       1
2       1
3       0
4       0
       ..
7495    0
7496    0
7497    0
7498    4
7499    0
Name: habitat, Length: 7500, dtype: int64